<p id="notice"><%= notice %></p>

<h1><%= @blog.title %></h1>
<!-- 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @post.title %></h3>
  </div>
  <div class="panel-body">
    <%= simple_format(@post.content) %>
  </div>
</div> -->


<h2><%= @post.title %></h2>
<h5><%= time_ago_in_words(@post.created_at)%></h5>
<p>
<%= simple_format(@post.content) %>
</p>

<%= link_to 'Add Comment', new_blog_post_comment_path(@blog, @post) %>

<table class="table">
  <thead>
    <tr>
      <th>Comment Title</th>
      <th></th>
      <th>Comment Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= time_ago_in_words(comment.created_at) %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Edit', edit_blog_post_comment_path(@blog, @post, comment) %></td>
        <td><%= link_to 'Destroy', [@blog, @post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit Post', edit_blog_post_path(@blog, @post) %> |
<%= link_to 'Back To Blog Posts', blog_posts_path %>
